// $nav: #FCFAF9;
$nav: rgb(246, 243, 234);
$dots-bg: rgb(211,211,211);
$dots: rgb(110,110,110);
// $dots: #FBF7F5;

$gradient:
radial-gradient(
circle,
$dots 20%,
transparent 0
);

// body{
//   background-color: rgba(191,191,191,0.1);
// }

// .image-scroll{
//   background-image: $gradient;
//   background-size: 1vh 1vh;
//   background-position: $back-pos;
// }

// body{
//   background-image: $gradient;
//   background-size: .5vh .5vh;
//   background-position: $back-pos;
// }
.about, .cv, .image-scroll{
  background-color: white;
  border-width: thin;
  border-style: solid;
}

.gallery{
  // margin-left: 50px;
}
.image-scroll{
  // background-image: $gradient;
  // background-size: 1vh 1vh;
  background-color: white;
  border-width: thin;
  border-style: solid;
  display: grid;
  padding:60pt;
  grid-template-columns: .15fr .15fr .15fr .15fr;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
}
.imagegallery{
  display: grid;
  width: 100%;
  padding:60pt;
  grid-template-columns: .2fr .2fr .2fr .2fr;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
}
.postimage{
  width: 100%;
}
.image{
  align-items: flex-start;
  width: 250%;
}
//
// .image-scroll{
//   background-image:
//       linear-gradient(
//         black 25%,
//         transparent 0
//         ),
//         linear-gradient(to right,
//         black 25%,
//         transparent 0
//         );
//   background-size: 1vh 1vh;
//     border-width: thick;
//     border-style: solid;
//     border-color: white;
//
// }
.toptext, .topnav, #cv-link, #info-link, #title{
  padding: 2px;
  background-color: $nav;
  border-width: thin;
  border-style: solid;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

//
body {
  background-image:$gradient;
  background-size: 1vh 1vh;
}
.topnav{
  margin-top: -10px;
  overflow: scroll;
}
.topnav ul {
  color: #000000;
  list-style-type: none;
}
.topnav li {
  margin-top: 5px;
  font-size: 20px;
  margin-right: 50px;
  text-align: left;
}
a, a:visited {
  text-decoration: none;
  color:black;
}
footer {
  margin-top: 30%;
}
.postimage{
  position:relative;
  /*width:300px;*/
  /*margin: 0 auto;*/
}
/*.imagegallery{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}*/
.toptext{
  display: flex;
  float: right;
  padding: 20px;
}
#info-link{
  position: absolute;
  right: 600px;
  top:450px;
}
#cv-link{
  position: absolute;
  right: 400px;
  top:250px;
}
img {
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#postblock {
  position:relative;
  width: 50%;
  margin: 0 auto;
}
#postblock .image,
#postblock .text {transition: 0.1s;}
#postblock .text {
  position:absolute;
  color:black;
  top:50%;
  left:25px;
  opacity:0;
  transform: translate(0, -50%);
  width: 80%;
}

#postblock:hover .text {
  opacity: 1;
  background-color: #9f95a8;
}
.cv{
  margin-top: 50px;
}
.a{
  display: inline;
}
.a:hover {
  display: none;
}
.b{
  display: none;
}
.b:hover {
  display: inline;
}
