{% extends "base.html" %}
{% block content %}

    <!-- Main Content -->
    <main>
    <ul class="image-scroll" style="list-style: none;">
      {% for post in context %}
      <li>
        <div class="block" id="postblock">
          <a href="post/{{ post.postid }}">
            <img class="image" src="{{ post.image }}">
          <div class="text">
            <div>
              {{ post.title }}
            </div>
          </div>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
