/* line 1 */
body {
  font-family: Times;
  font-size: 18px;
}

/* line 6 */
.topnav ul {
  list-style: none;
}

/* line 10 */
.topnav li {
  padding: 2px;
}

/* line 14 */
.image-scroll {
  margin-top: 70px;
  list-style: none;
}

/* line 19 */
a, a:visited {
  text-decoration: none;
  color: black;
}

/* line 24 */
.homeimage {
  padding-top: 20px;
  margin-left: 20%;
  width: 55%;
}

/* line 29 */
.image {
  width: 65%;
  margin-left: 10%;
}

/* line 33 */
.info, .cv {
  margin-left: 5%;
}

/* line 36 */
.cv-list {
  padding-bottom: 3px;
}

@media screen and (max-width: 699px) {
  /* line 42 */
  .topnav {
    margin-left: -10%;
  }

  /* line 45 */
  .gallery {
    width: 10%;
  }

  /* line 48 */
  .homeimage {
    margin-left: 10%;
    width: 80%;
  }

  /* line 52 */
  .image {
    width: 90%;
    margin-left: 0%;
  }

  /* line 56 */
  .image-scroll {
    margin-top: 0px;
    display: block;
  }

  /* line 60 */
  .cv-list {
    margin-left: -15%;
    font-size: 10px;
  }
}
