body{
  font-family: Times;
  font-size: 18px;
}

.topnav ul{
  list-style: none;
}

.topnav li{
  padding: 2px;
}

.image-scroll{
  margin-top: 70px;
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color:black;
}

.homeimage{
  padding-top: 20px;
  margin-left: 20%;
  width: 55%;
}
.image {
  width: 65%;
  margin-left: 10%;
}
.info, .cv{
  margin-left: 5%;
}
.cv-list{
  padding-bottom: 3px;
}


@media screen and (max-width: 699px) {
  .topnav{
    margin-left: -10%;
  }
  .gallery{
    width: 10%;
  }
  .homeimage{
    margin-left: 10%;
    width: 80%;
  }
  .image{
    width: 90%;
    margin-left: 0%;
  }
  .image-scroll{
    margin-top: 0px;
    display: block;
  }
  .cv-list{
    margin-left: -15%;
    font-size: 10px;
  }
}
