<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZACK MARSHALL</title>
 <!-- Scripts for Base.html -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  function cvText(text)
    {
        var display = document.getElementById('cv-link');
        display.innerHTML = "";
        display.innerHTML = text;
    }
  function cvBack(text)
    {
        var display = document.getElementById('cv-link');
        display.innerHTML = "";
        display.innerHTML = text;
    }
  function infoText(text)
    {
        var display = document.getElementById('info-link');
        display.innerHTML = "";
        display.innerHTML = text;
    }
  function infoBack(text)
    {
        var display = document.getElementById('info-link');
        display.innerHTML = "";
        display.innerHTML = text;
    }
</script>
{% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
{% endassets %}
  </head>

  <body>
    <!-- Nav -->
        <div class="topnav">
          <ul>
            <li id="home-link">
              <a href="{{ url_for('index') }}">ZACK MARSHALL &Psi;</a>
            </li>
            <!-- <li>
                <a id="info-link" onmouseover="infoText('Information')"onmouseout="infoBack('Πληροφορία')" href="{{ url_for('.info') }}">Πληροφορία</a>
            </li>
            <li>
                <a id="cv-link" onmouseover="cvText('Curriculum Vitae')"onmouseout="cvBack('βιογραφικό σημείωμα')" href="{{ url_for('.cv') }}">βιογραφικό σημείωμα</a>
            </li> -->
            <li>
                <a id="painting-link"href="{{ url_for('.painting') }}">Paintings</a>
            </li>
            <li>
                <a id="drawing-link"href="{{ url_for('.drawing') }}">Drawings</a>
            </li>
            <li>
                <a id="sculpture-link" href="{{ url_for('.sculpture') }}">Sculptures</a>
            </li>
            <li>
                <a id="info-link" href="{{ url_for('.info') }}">Info</a>
            </li>
            <li>
                <a id="cv-link" href="{{ url_for('.cv') }}">CV</a>
            </li>
          </ul>
        </div>
<!-- endnav -->
    <!-- Main Content -->
{% block content %}

{% endblock %}
  </body>

</html>
