{% extends "base.html" %}
{% block content %}

<main>
  <ul class="cv" style="list-style: none;">

    <li class="cv-list"style="padding-bottom:15px;">Zack Marshall (b. Hamilton, Bermuda 1992) lives and works in New York City.</li>

    <li class="cv-list">2017, The Intro, De Plume Gallery, Los Angeles, CA</li>

    <li class="cv-list">2017, Charman Prize Award Exhibition, Masterworks Gallery, Hamilton Bermuda</li>

    <li class="cv-list">2017, Golem (Solo Exhibition), 15 Orient, Brooklyn, New York</li>

    <li class="cv-list">2016, Puppet Show, 15 Orient Gallery, Brooklyn, New York</li>

    <li class="cv-list">2016, American Splendor, Head Too Heavy Gallery, Brooklyn, New York</li>

    <li class="cv-list">2016, Huttendasein, 15 Orient Gallery, Brooklyn, New York</li>

    <li class="cv-list">2015, 4+4=1, Masterworks Faries Gallery, Hamilton, Bermuda</li>

    <li class="cv-list">2015, Early Years (Solo Exhibition), October Gallery, Hamilton, Bermuda</li>

    <li class="cv-list">2015, Charman Prize Award Exhibition, Masterworks Gallery, Hamilton, Bermuda</li>

    <li class="cv-list">2015, Strangers forming a group waiting to kiss, Motel Gallery, Brooklyn, NY</li>

    <li class="cv-list">2015, MX EXPO, MX Gallery, New York, NY</li>

    <li class="cv-list">2015, The Gallery at Canopius Exhibition, The Gallery at Canopius, Hamilton, Bermuda</li>

    <li class="cv-list">2013, The Duck Show, JLA, Providence, RI</li>

    <li class="cv-list">2013, The Height of Silliness, Memorial Hall Gallery, Providence, RI</li>







  </ul>
</main>
{% endblock %}
